<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>games</title>
    <h1> {{title}}</h1>

    <style>
   .btn {
    position: absolute
    width: 10em; /* Ширина кнопки */
    height: 2em; /* Высота кнопки */
    background-color: #67ada9; /* Цвет фона */
      }
    </style>
</head>
<body>
    <ul>
        <li>{{first}}   <button class="btn"> <a href="/cart">Купить</a> </button> </li>
        <li>{{second}}  <button class="btn"> <a href="/cart">Купить</a> </button>  </li>
        <li>{{third}}   <button class="btn"> <a href="/cart">Купить</a> </button>  </li>
    </ul>
        <p>
        <button> <a href="http://127.0.0.1:8000/">Вернуться обратно</a> </button>
        </p>
</body>
</html>


